.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    width: 70vw;
    margin: auto;
    font-size: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-style: oblique;
    
}

