.App {
  text-align: center;
  background-image: url(images/bg.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  top: 10;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.particle{
  position: absolute;
  top: 10;
  bottom: 0;
  height: 88vh;
  width: 100vw;
  align-content: center;
}


