.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
}



.resume{
    position: absolute;
    align-self: center;
    left: 28vw;
}

.summary{
    position: absolute;
    width: 20vw;
    left: 50vw;
    top: 5vh;
}

.tech{
    position: absolute;
    width: 20vw;
    top: 10vh;
    left: 4%;
}

.work{
    position: absolute;
    opacity: 80%;
    overflow: auto;
    bottom: 200px;
    left: 35vw;
    width: 30vw;
    height: 45vh;
    background-color: white;
}


.projects{
    position: absolute;
    width: 20vw;
    overflow: auto;
    left: 100px;
    height: 50vh;
    bottom: 2%;
}

.education{
    position: absolute;
    width: 20vw;
    height: 40vh;
    right: 5%;
}

.file{
    width: 20vw;
    position: absolute;
    bottom: 250px;
    right: 100px;
}  