.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    align-items: center;
    backface-visibility: visible;
}



.resume{
    position: absolute;
    align-self: center;
    left: 28vw;
    font-family: 'Times New Roman', Times, serif;
}

.summary{
    position: absolute;
    width: 20vw;
    left: 50vw;
    top: 5vh;
    font-family: 'Times New Roman', Times, serif;
}

.tech{
    position: absolute;
    width: 20vw;
    top: 10vh;
    left: 4%;
    font-family: 'Times New Roman', Times, serif;
}

.work{
    position: absolute;
    bottom: 10vh;
    left: 30vw;
    width: 40vw;
    height: 43vh;
    background-color: white;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}


.projects{
    position: absolute;
    width: 20vw;
    overflow: auto;
    left: 100px;
    height: 44vh;
    bottom: 2%;
    font-family: 'Times New Roman', Times, serif;
}

.education{
    position: absolute;
    width: 20vw;
    height: 20vh;
    right: 5%;
    font-family: 'Times New Roman', Times, serif;
}
