body{
  background-color: white;
}


.content{
    width: 60vw;
    margin: auto;
}

img {
    height: 200px;
    width: 185px;
    padding: 15px;
    opacity: 85%;
    backface-visibility: visible;
}

.images{ 
   width: 100%;
   height: 200px;
   position:absolute;
   left:0;
    bottom:0;
    right:0;
    align-content: center;
}

.para{
    margin: auto;
    font-family: "Times New Roman", Times, serif;
    color: black;
    font-size: 22px;
    align-items: center;
    width: 40vw;
    height: 48vh;
    background-size: cover;
}




