
.grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 60vw;
    background-size: cover;
    align-items: center;
}

.grid > div{
    padding: 2em;
}

.images{
    width: 50 vw;
    height: auto;
    position: relative;
    opacity: 50%;
    align-self: center;
}


.mongo{
    bottom: 0 auto;
    left: 10%;
    width: 250px;
    height: 185px;
    position: absolute;
}

.express{
    bottom: 0;
    left: 25%;
    width: 250px;
    height: 185px;
    position: absolute;
}

.react{
    bottom: 0 auto;
    left: 40%;
    width: 250px;
    height: 185px;
    position: absolute;
}

.node{
    grid-auto-rows: 1fr;
    bottom: 0;
    left: 55%;
    width: 250px;
    height: 185px;
    position: absolute;
}

.js{

    bottom: 0 auto;
    left: 70%;
    width: 250px;
    height: 185px;
    position: absolute;
}
  
 
.para{
    margin: auto;
    font-family: "Times New Roman", Times, serif;
    color: black;
    font-size: 22px;
    width: 40vw;
} 




