.about{
    display: grid;

}

.about > div{
    padding: 2em;
}

.me{
    width: 40vw;
    margin: auto;
    grid-column: auto;
}



img{
    height: 350px;
    width: 400px;
    margin: auto;
    position: absolute;
    top:100px;
    left: 150px;
}