.about{
    width: 60vw;
    position: relative;
    margin: auto;  
    align-self: center;
}

.photo{
    position: absolute;
    padding: 1em;
}

.paragraph{
    width: 30vw;
    position: absolute;
    right: 0;
    padding: 1em
}

img{
    height: 350px;
    width: 400px;
} 
